NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173


# --- AI Models Integration ---
AI_MODELS_URL=https://mahmouddiab1-smartchild-ai.hf.space
AI_MODELS_API_KEY=insert_ai_models_api_key_here

# --- Database Connection ---
DATABASE="mongodb://localhost:27017/smart-child"

# --- Authentication ---
JWT_SECRET="insert_512_bit_printable_ascii_string_here"
JWT_LIFETIME=7d
JWT_COOKIE_EXPIRES_IN=7

# --- File Management ---
MAX_FILE_SIZE_MB=2

# --- Mailing Service ---
EMAIL=insert_gmail_app
EMAIL_APP_PASSWORD=insert_gmail_app_password_here

BREVO_API_KEY=insert_brevo_api_key_here


# --- Security ---
ENCRYPTION_KEY=insert_256_bit_hexadecimal_string_here